<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Bubble Shooter Game</title>
<script type='text/javascript' src='/game.bundle.js'></script>
</head>
<body style="background-color: #9f9f9f;">
<canvas style="border: 5px white solid; margin-left: 25%;" id="viewport" width="628" height="628"></canvas></div>
</body>

</html> 